<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>перевірка даних сесіїю зміна кольору</title>
    <style>
        body {
            background-color: {{ background_color }};
            color: Beige;
            font-size: 16px;
            text-align: center;
            padding-top: 100px;
        }
    </style>
</head>
<body>
    <h1>Просто сторінка</h1>
    <p> {{ request.session.count }} вхід!</p>
</body>
</html>
